In [25]:
import pandas as pd

In [40]:
origtrain = pd.read_csv('data/train.csv')
origtest = pd.read_csv('data/test.csv')
togeth = pd.concat([origtest,origtrain])
def splits(data_frame):
    split_df = data_frame['PassengerId'].str.split('_', expand=True)
    data_frame[['Group', 'GroupNumber']] = split_df

    split_df =  data_frame['Cabin'].str.split("/", expand = True)
    data_frame[['Deck', 'Number', 'Side']]= split_df
    data_frame.Number = data_frame.Number.astype('float')
    
    split_df = data_frame['Name'].str.split(" ",expand = True)
    data_frame[['FristName','LastName']] = split_df


    return data_frame

togeth = splits(togeth)
togeth = togeth.sort_values(by = ['Group','GroupNumber'])
togeth = togeth.reset_index()
togeth = togeth[['PassengerId','HomePlanet','Cabin','Destination','Group','GroupNumber','Deck','Number','Side','LastName']]

In [26]:
recent = pd.read_csv('recentattempts.csv')

In [27]:
old3 = pd.read_csv('certainty_imputed_data')

In [28]:
old = pd.read_csv('fillcabin/left.csv')
old2 = pd.read_csv('fillcabin/missincabin.csv')
old2 = pd.read_csv('fillcabin/pdcd.csv')

ParserError: Error tokenizing data. C error: Expected 1 fields in line 16, saw 3

In [29]:
recent

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,Set,LastName,GroupSize
0,0001_01,Europa,B/0/P,TRAPPIST-1e,1,1,B,0.0,P,Train,Ofracculy,1
1,0002_01,Earth,F/0/S,TRAPPIST-1e,2,1,F,0.0,S,Train,Vines,1
2,0003_01,Europa,A/0/S,TRAPPIST-1e,3,1,A,0.0,S,Train,Susent,2
3,0003_02,Europa,A/0/S,TRAPPIST-1e,3,2,A,0.0,S,Train,Susent,2
4,0004_01,Earth,F/1/S,TRAPPIST-1e,4,1,F,1.0,S,Train,Santantines,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,9277_01,Earth,G/1498/S,PSO J318.5-22,9277,1,G,1498.0,S,Test,Leonzaley,1
12966,9278_01,Earth,G/1499/S,PSO J318.5-22,9278,1,G,1499.0,S,Train,Mondalley,1
12967,9279_01,Earth,G/1500/S,TRAPPIST-1e,9279,1,G,1500.0,S,Train,Connon,1
12968,9280_01,Europa,E/608/S,55 Cancri e,9280,1,E,608.0,S,Train,Hontichre,2
12969,9280_02,Europa,E/608/S,TRAPPIST-1e,9280,2,E,608.0,S,Train,Hontichre,2

In [30]:
recent = recent[['PassengerId','Cabin']]

In [31]:
old3 = old3[['PassengerId','Cabin']]

In [32]:
# Assuming old3.Cabin and recent.Cabin are your Series
differences = old3.Cabin != recent.Cabin

# Getting the indices where the values are different
different_indices = differences[differences].index.tolist()

In [33]:
i = different_indices[0]

In [42]:
togeth[:20]

,PassengerId,HomePlanet,Cabin,Destination,Group,GroupNumber,Deck,Number,Side,LastName
0,0001_01,Europa,B/0/P,TRAPPIST-1e,0001,01,B,0.0,P,Ofracculy
1,0002_01,Earth,F/0/S,TRAPPIST-1e,0002,01,F,0.0,S,Vines
2,0003_01,Europa,A/0/S,TRAPPIST-1e,0003,01,A,0.0,S,Susent
3,0003_02,Europa,A/0/S,TRAPPIST-1e,0003,02,A,0.0,S,Susent
4,0004_01,Earth,F/1/S,TRAPPIST-1e,0004,01,F,1.0,S,Santantines
5,0005_01,Earth,F/0/P,PSO J318.5-22,0005,01,F,0.0,P,Hinetthews
6,0006_01,Earth,F/2/S,TRAPPIST-1e,0006,01,F,2.0,S,Jacostaffey
7,0006_02,Earth,G/0/S,TRAPPIST-1e,0006,02,G,0.0,S,Jacostaffey
8,0007_01,Earth,F/3/S,TRAPPIST-1e,0007,01,F,3.0,S,Beston
9,0008_01,Europa,B/1/P,55 Cancri e,0008,01,B,1.0,P,Flatic
10,0008_02,Europa,B/1/P,TRAPPIST-1e,0008,02,B,1.0,P,Flatic
11,0008_03,Europa,B/1/P,55 Cancri e,0008,03,B,1.0,P,Flatic
12,0009_01,Mars,F/1/P,TRAPPIST-1e,0009,01,F,1.0,P,Barne
13,0010_01,Earth,G/1/S,TRAPPIST-1e,0010,01,G,1.0,S,Baketton
14,0011_01,Earth,F/2/P,TRAPPIST-1e,0011,01,F,2.0,P,Bertsontry
15,0012_01,Earth,NaN,TRAPPIST-1e,0012,01,NaN,NaN,NaN,Pooles
16,0013_01,Earth,G/3/S,TRAPPIST-1e,0013,01,G,3.0,S,Carsoning
17,0014_01,Mars,F/3/P,55 Cancri e,0014,01,F,3.0,P,Eccle
18,0015_01,Earth,F/4/P,55 Cancri e,0015,01,F,4.0,P,Hughriend
19,0016_01,Mars,F/5/P,TRAPPIST-1e,0016,01,F,5.0,P,Upead

In [38]:
recent[:20]

   PassengerId  Cabin
0      0001_01  B/0/P
1      0002_01  F/0/S
2      0003_01  A/0/S
3      0003_02  A/0/S
4      0004_01  F/1/S
5      0005_01  F/0/P
6      0006_01  F/2/S
7      0006_02  G/0/S
8      0007_01  F/3/S
9      0008_01  B/1/P
10     0008_02  B/1/P
11     0008_03  B/1/P
12     0009_01  F/1/P
13     0010_01  G/1/S
14     0011_01  F/2/P
15     0012_01  G/2/S
16     0013_01  G/3/S
17     0014_01  F/3/P
18     0015_01  F/4/P
19     0016_01  F/5/P

In [34]:
recent.iloc[i]

PassengerId    0016_01
Cabin            F/5/P
Name: 19, dtype: object

In [44]:
recent[recent.Cabin == 'B/0/S']

   PassengerId  Cabin
65     0047_01  B/0/S
66     0047_02  B/0/S
67     0047_03  B/0/S

In [45]:
old3[old3.Cabin == 'B/0/S']

   PassengerId  Cabin
19     0016_01  B/0/S
65     0047_01  B/0/S
66     0047_02  B/0/S
67     0047_03  B/0/S

In [43]:
old3[:30]

   PassengerId  Cabin
0      0001_01  B/0/P
1      0002_01  F/0/S
2      0003_01  A/0/S
3      0003_02  A/0/S
4      0004_01  F/1/S
5      0005_01  F/0/P
6      0006_01  F/2/S
7      0006_02  G/0/S
8      0007_01  F/3/S
9      0008_01  B/1/P
10     0008_02  B/1/P
11     0008_03  B/1/P
12     0009_01  F/1/P
13     0010_01  G/1/S
14     0011_01  F/2/P
15     0012_01  G/2/S
16     0013_01  G/3/S
17     0014_01  F/3/P
18     0015_01  F/4/P
19     0016_01  B/0/S
20     0017_01  G/0/P
21     0017_02  F/6/P
22     0018_01  F/4/S
23     0019_01  C/0/S
24     0020_01  E/0/S
25     0020_02  E/0/S
26     0020_03  E/0/S
27     0020_04  E/0/S
28     0020_05  E/0/S
29     0020_06  E/0/S

In [35]:
old3.iloc[i]

PassengerId    0016_01
Cabin            B/0/S
Name: 19, dtype: object

In [36]:
different_indices

[19,
 63,
 145,
 223,
 279,
 319,
 354,
 397,
 404,
 421,
 479,
 505,
 517,
 529,
 547,
 631,
 675,
 683,
 748,
 781,
 807,
 854,
 907,
 984,
 1069,
 1099,
 1228,
 1243,
 1262,
 1271,
 1339,
 1356,
 1401,
 1423,
 1429,
 1466,
 1469,
 1530,
 1543,
 1544,
 1571,
 1663,
 1778,
 1826,
 1877,
 1945,
 1970,
 2016,
 2034,
 2068,
 2247,
 2291,
 2302,
 2318,
 2363,
 2374,
 2414,
 2422,
 2442,
 2566,
 2665,
 2809,
 2836,
 2907,
 2970,
 3057,
 3064,
 3079,
 3116,
 3153,
 3155,
 3192,
 3218,
 3355,
 3356,
 3398,
 3416,
 3425,
 3440,
 3457,
 3476,
 3507,
 3528,
 3529,
 3530,
 3585,
 3617,
 3635,
 3672,
 3677,
 3734,
 3753,
 3763,
 3818,
 3962,
 3987,
 4086,
 4139,
 4181,
 4233,
 4254,
 4315,
 4366,
 4373,
 4377,
 4400,
 4443,
 4456,
 4463,
 4468,
 4530,
 4544,
 4569,
 4577,
 4587,
 4641,
 4653,
 4672,
 4747,
 4750,
 4751,
 4803,
 4807,
 4859,
 4863,
 4892,
 4915,
 4968,
 5016,
 5017,
 5028,
 5090,
 5116,
 5193,
 5275,
 5322,
 5341,
 5389,
 5467,
 5560,
 5614,
 5664,
 5695,
 5797,
 5826,
 5857,
 5948,
 5994,
 6055,
 6075,
 6120,
 6133,
 6170,
 6193,
 6242,
 6274,
 6282,
 6330,
 6331,
 6372,
 6419,
 6472,
 6493,
 6514,
 6535,
 6578,
 6709,
 6760,
 6927,
 6952,
 7017,
 7126,
 7179,
 7219,
 7240,
 7333,
 7405,
 7630,
 7638,
 7810,
 7863,
 8102,
 8291,
 8374,
 8413,
 8450,
 8465,
 8509,
 8534,
 8594,
 8699,
 8731,
 8792,
 8804,
 8822,
 8906,
 8940,
 8973,
 8976,
 8994,
 9106,
 9265,
 9267,
 9273,
 9295,
 9367,
 10033,
 10068,
 10069,
 10081,
 10082,
 10114,
 10127,
 10160,
 10220,
 10290,
 10313,
 10339,
 10394,
 10408,
 10411,
 10434,
 10440,
 10546,
 10558,
 10616,
 10624,
 10788,
 10791,
 10855,
 10995,
 11074,
 11082,
 11129,
 11148,
 11243,
 11250,
 11334,
 11418,
 11497,
 11598,
 11747,
 11757,
 11829,
 11891,
 11999,
 12174,
 12187,
 12218,
 12241,
 12327,
 12437,
 12488,
 12634,
 12651,
 12658,
 12668,
 12671,
 12694,
 12892,
 12893,
 12918]

In [37]:
len(different_indices)

262